
html {
  font-family: Lucida Grande;
}
header, footer{
  color: #F2F2F2;
  text-align: center;
  border-bottom: 2px #FE654F solid;
  background-color: #0B3954;
  border-radius: 5px;
}

header {
  float: clear;
  width: 100%;
}

nav {
  display: inline-block;
  float: right;
  width: 100%;
}

nav ul li{
  padding: 2px 5px 2px 0px;
  list-style: none;
  display: inline-block;
}

nav a.nav_link {
  color: white;
}

a {
  color: #FE654F;
  text-decoration:none;
}

nav a:hover {
  background-color: rgb(156, 156, 156);
}

a:visited {
  color: #FF6663;
}

h3 {
  text-align: center;
}

main{
  clear: both;
  display: inline-block;
  border-radius: 5px;
  background-color: #BFD7EA;
  width: 100%;
  margin-top: 15px;
}


main article {
  padding: 5px 15px 15px 15px;
}

article img {
  float: left;
  width: 30%;
  height: 30%;
  padding:10px 30px;
}

article p {
  display: block;

}

#move_list_over {
  display: inline-block;
  padding-left: 15px;
}
footer {
  display: block;
  clear: both;
  margin: 20px 0px 20px 0px;
  border: 2px solid #FE654F;
}
