html, body, div, h3, h1, ul, li, a, #home, header, nav {
  margin: 0px;
  padding: 0px;
}

header {
  margin = 0px;
  position: fixed;
  min-width: 1200px;
  width: 100%;
  height: 50px;
  padding: 10px 30px;
  margin: 0px;
  background-color: #dcdcdc;
  z-index: 1;
}

#home-header {
  background-color: #dcdcdc;
}

.background-img img {
  width: 100%;
  height: 730px;
  overflow: auto;
  margin: 0px;
  border: 0.1px solid none;
  top: 69px;
}

#home-intro {
  width: 100%
  height: 50px;
}

#home-intro ::selection {
  background-color: #cecece;
}

header h1 {
  font-size: 2.5em;
  float: left;
  text-shadow: 4px 4px 4px rgba(1, 0, 8, 0.14);
}

header ul {
  list-style-type: none;
  width:450px;
  height: 36px;
  margin: 0px 0px 50px 50px;
  margin-left: 780px;
}

header a {
  color: #707070;
  text-decoration: none;
  text-shadow: #454545;
}

a:hover {
  text-decoration: underline;
}
a:active {
  text-decoration: black;
}

nav li {
  float: left;
  padding-top: 10px;
  padding-left: 25px;
}

li img {
  height: 13px;
  width: 13px;
}

#body-title {
  padding-top: 80px;
  font-size: 5em;
  text-align: center;
  font-family: 'Molengo', serif;
  font-weight: lighter;
  min-width: 1200px;
  background-color: #dcdcdc;
}

footer p {
  text-align-last: center;
  margin-top: -24px;
  color: white;
}

/*main*/
.addional-webs-main {
  background-color: #dcdcdc;
  margin: 0px;
  padding: 0px;
}

.addional-webs-main h1 {
  color: #01CAA3;
}
main p {
  padding: 0px;
  margin: 240px 20px 0px 30px;
  whidth: 100px;
  position: absolute;
  top: 10%;
  bottom: 45%;
  left: 15%;
  text-align: center;
  font-family: 'Molengo', serif;
  color: white;
  text-shadow: 2px 2px 2px black;
  font-size: 1.8em;
  font-weight: bold;
  line-height: 40px;
  letter-spacing: 1px;
}
#home-main-link a {
  color: white;
  font-size: 1.2em;
  text-decoration: none;
  border-bottom: 3px solid green;
}
#home-main-link a:hover {
  color: green;
}

#owner-pic img {
  width: 280px;
  height: 300px;
  float: left;
  list-style-type: none;
  margin: 55px 100px 55px 105px;
  border: 1px solid #000;
  background-color: #333;
  padding: 1.6px;
  border-radius: 50px;
}

ul li {
  list-style-type: none;
}
/*</main>*/


/*<about>*/
.about-me {
  font-family: Cormorant;
  margin: 70px 60px 80px 0px;

  padding: 30px;
  font-size: 1.3em;
  line-height: 24px;
  letter-spacing: 1px;
  font-weight: 300;
}
.about-me:first-letter {
  font-size: 2em;
}
#name {
  font-weight: 800;
}

.about-links a {
  color: grey;
  text-decoration: none;
  border-bottom: 2px solid #01CAA3;
}
.about-links a:hover {
  color: #01CAA3;
}

#about-footer p {
  text-align-last: center;
  background-color: #01CAA3;
  margin-top: 230px;
 }
 /*</about>*/


/*portfolio*/
.code-boarder {
  width: 900px;
  margin-left: 200px;
  margin-top: 100px
}

.code-boarder a {
  margin: 20px 10px 30px 80px;
  height: 100px;
  background-color: #cecece;
  width: 300px;
  display: inline-block;
  text-decoration: none;
  text-align: center;
  font-size: 2em;
  padding-top: 50px;
  padding-bottom: 0px;
  color: #A3A3A3;
  text-decoration: none;
  text-shadow: gray;
}

.code-boarder a:hover {
  background-color: white;
}

#portfolio-footer p {
  text-align-last: center;
  background-color: #01CAA3;
  margin-top: 35px;
}
/*</portfolio>*/

/*Code-Journal additional*/
.journal-intro {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}
.code-Journal-articles nav a {
  margin-left: 45%;
  margin-bottom: 0px;
  text-decoration: none;
  font-family: Roboto;
  color: grey;
  text-shadow: gray;
  font-size: 2.5em;
}
.code-Journal-articles nav a:hover {
  color: #01CAA3;
}
.code-Journal-articles p {
margin-left: 40%;
}

#journal-footer p {
  text-align-last: center;
  margin-top: 370px;
  background-color: #01CAA3;
}
/*</code-journal>*/

/*<article>*/
.header-articles {
  position: static;
}

.article-title p:first-child {
  text-align: center;
  font-family: Cormorant;
  font-size: 400%;
  margin-bottom: 30px;
}
.article-title P:nth-child(2) {
  text-align-last: center;
  font-family: Cormorant;
}

.article-cont p{
  width: 580px;
  margin-left: 30%;
  max-width: none;
  font-family: Cormorant;
  line-height: 30px;
  letter-spacing: 1px;
  color: #393939;
  font-size: 131.30%;


}
.articles ::selection{
  background-color: yellow;
}

.article-cont p:first-child:first-letter {
  font-size: 2em;
}

.inner {
  position: fixed;
  list-style: none;
  margin-top: 50px;
  margin-left: 100px;
  color: grey;
}

.inner a {
  text-decoration: none;
  color: grey;

}
.inner a:hover {
  color: #01CAA3;
}

#footer-article p {
  background-color: #01CAA3;
}
/*</article>*/
