body.index {
  font-family: 'Josefin Sans', sans-serif;
  background-image: url("http://wallpapercave.com/wp/SymLMYT.jpg");
  background-size: cover;
}



a:hover {
  color: #9ADEF5;
}

a {
  color: #293D8C;
}

footer a {
  color: #F5B19A;
}


.top-buttons li {
  display: inline;
  font-family: 'Josefin Sans', sans-serif;
  border-right: 2pt solid #39324b;
  color: #39324b;
  margin-right: 8%;
  margin-left: 8%;
  padding: 0 25px;
  font-size: 9pt;
}

main h1{
  position: absolute;
  left: 30%;
  bottom: 40%;
  text-align: center;
  font-family: 'Cookie', serif;
  font-size: 6em;
  color: #E3E7E8;
  /*margin: 5%;*/

}

footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #efefef;
  text-align: center;
}

.bottom-buttons li{
  display: inline;
  font-family: 'Josefin Sans', sans-serif;
  border-right: 2pt solid #39324b;
  color: #39324b;
  margin-right: 8%;
  margin-left: 8%;
  padding: 0px 25px;
  font-size: 9pt;
}



/*.about {

}*/
