#A, #M {
  display: inline;

  font-size: 6em;
  font-family: 'Courgette', cursive;

}

div.monogram {
  border: 5px solid black;
  border-radius: 50%;
  margin: 4vmin auto auto auto;
  width: 100px;
  padding: 4%;
  height: 12em;
  width: 12em;

  /*position: relative;*/
  /*left: 40%;*/
  /*top: 25%;*/

  /*not teal, light blue*/
  background-color: #6EC5B8;
}

/*ul#floater {
  position: absolute;
  top: 83vmin;
  float: left;
  width: 100%;
}*/

li.bubble:nth-of-type(1) {
  background-color: yellow;
}

li.bubble:nth-of-type(2) {
  background-color: red;
}

li.bubble:nth-of-type(3) {
  background-color: green;
}
