.col1of3, .col2of3, .col3of3 {
  display: inline-block;
}

div img {
  float: left;
  width: 20%;
  margin-right: 20px;
}

main div a:link {
  text-decoration: none;
  color: black;
}

main {
  overflow: hidden;
}
