section.featured {
  float:left;
  position: relative;
}

section.current {
  clear: left;
  float: left;
}

section.previous {
  clear: right;
  float: right;
  width: 25%;
  position: absolute;
}

li.bubble {
  background-color: yellow;
  float: right;

  position: absolute;
  top: -10vmin;
  right: 2em;
}
