/*header nav h2 {

}*/

section.featured {
  float:left;
  position: relative;
}

section.current {
  clear: left;
  float: left;
}

section.previous {
  clear: right;
  float: right;
  width: 25%;
  position: absolute;
}

li.bubble {
  background-color: yellow;
  /*float: right;*/

  position: absolute;
  top: 0vmin;
  right: 3vmax;
}

ul#floater {
  /*float: right;*/
  width: 95%;

  /*position: absolute;*/
  /*width: 100%;*/
  /*top: 0vmin;*/
  /*right: 3vmax;*/
  /*right: 100vmax;*/
}
