html, body { height: 100%; }

.prtbg{
  background-image:url('../images/waves.jpg');
  background-size: 100%;
  background-repeat: no-repeat;
}
.navigation {
		z-index: 30;
    font-size: 1.5em;
    list-style-type: none;
    float: left;
    padding: 15;
    overflow: hidden;
    background-color: papayawhip;
}

.title {
    display: block;
    color: turquoise;
    text-align: left;
    padding: 14px;
    font-family: Mathlete-SkinnySlant;
    text-decoration: none;
}

.nav {
    float: left;
    margin-bottom: 15px;
    display: block;
    color: turquoise;
    text-align: center;
    padding-left: 65px;
    padding-right: 65px;
    text-decoration: none;
}

.nav:hover {
    background-color: honeydew;
}

.nav:active {
    color: orchid;
}

body{
  font-weight: 200;
  font-size: 1em;
  color:gainsboro;
  font-style: normal;
  font-family: Mathlete-Skinny;
  text-align: center;
  text-decoration: none;
  list-style-type: none;
}

.comp {
  display: block;
  position: absolute;
  font-weight: 200;
  color: papayawhip;
  margin: 120px 5px 25px 175px;
  padding: 25px;
  font-size: 2em;
  font-family: Mathlete-Skinny;
  text-align: justify;
}

.portfolio{
  width: 80%;
  height: 140px;
  margin-left: 170px;
  padding-top: 5px;
  padding-bottom: 20px;
  color: lightpink;
  display: inline;
  vertical-align: middle;
  font-weight: 300;
  font-size: 6em;
  border-style: ridge;
  border-width: thick;
  border-color: #84e1e8;
  font-family: Mathlete-Skinny;
}

a:-webkit-any-link {
    color:aqua;
  }

ul.reference {
    position: relative;
    list-style-type: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    width: 200px;

}

.reference li a  {
    display: block;
    list-style-type: none;
    width: 60px;
    text-decoration: none;
    text-align:right;
    border-bottom: 4px solid papayawhip;
    font-family: Mathlete-SkinnySlant;
    font-weight: bolder;
    margin: 10px 10px 10px 10px;
    padding: 10px 90px 10px 10px;;
}

li a:hover {
    background-color: transparent;
    color: violet;
    background-color: #84e1e8;
}

.firstcharacter {
  float: left; color: mintcream;
  font-size: 3em;
  font-weight: 400;
  line-height: 60px;
  padding-top: 4px;
  padding-right: 8px;
  padding-left: 3px;
  padding-bottom: 20px;
  font-family: Mathlete-Bulky;
}

li a:active {
    background-color: pink;
    color: violet;
}

footer{
background-color: rgb(132, 225, 232);
color:rgb(240, 255, 240);
display:block;
font-family:Mathlete-SkinnySlant;
font-size:24px;
font-style:normal;
font-weight:200;
height:30px;
list-style-type:none;
position:relative;
text-align: center;
width:100%;
}
