section img {
  width: 15%;
  float:left;
  margin-right: 10px;
}

ul {
  list-style-type: none;
  padding-right: 15px;
}

li a{
  /*font-size: 1em;*/
  font-weight:bold;
  color: teal;
  display:block;
}
