html {
  font: normal normal 18px/1 'Open Sans', sans-serif;
  box-sizing: border-box;
}

header {
  text-align: center;
  color: #C8C2AE;
  background-color: #2B4141;
  position: fixed;
  width: 99.99%;
  top: 0;
  left: 0;
}

h1 {
  font-size: 2em;
  font-family: 'Yatra One', cursive;
}

h2 {
  text-transform: lowercase;
}

body {
  margin-top: 220px;
  background-color: #77625C;
  color: #E2B188;
  width: 99%;
  text-align: justify;
}

nav {
  background-color: #70A9A1;
  padding: 15px;
  margin-left: 0;
  margin-right: 0;
}

nav ul {
  display: inline;
}

nav ul li {
  display: inline-block;
  width: 19%;
}

footer {
  border-top: 1px solid #2B4141;
  clear: both;
  display: inline-block;
}

.post {
  margin: 40px 80px 40px 80px;
}

.post-info {
  text-align: center;
  display: inline-block;
  line-height: 0.45;
  padding: 10px;
  border-bottom: 2px solid #2B4141;
  border-radius: 0 0 0 20px;
}

.post-info h3, .post-info h4 {
  display: inline;
  padding: 0 80px;
  border-radius: 0 20px;
}

.post-info h3 {
  color: #2B4141;
  background-color: #C8C2AE;

}

.post-info h4 {
  background-color: #2B4141;
  color: #C8C2AE;
  padding-top: 2px;
}

blockquote, pre {
  border-left: 2px solid #2B4141;
  padding-left: 20px;
  margin-left: 30px;
  margin-right: 100px;
}

pre {
  font-family: 'Inconsolata', monospace;
}

a {
  color: #98D2EB;
  text-decoration: none;
}

a:hover {
  color: #CFD7C7;
  text-decoration: underline;
}

nav a {
  color: #40798C;
}

article p:first-child::first-letter {
  font-size: 1.75em;
}

#profile {
  display: inline;
  float: right;
  max-width: 70vmax;
  margin-left: 2vmax;
  margin-right: 2vmax;
}

#profile ul {
  list-style: none;
}

#profile-img {
  display: inline;
  border: 1px solid #2B4141;
  border-radius: 5%;
  margin-left: 2vmax;
  margin-bottom: 25px;
  float: left;
  width: 20vmax;
}

main.portfolio section {
  margin: 25px;
}

section.portfolio-item {
  clear: left;
}

.portfolio img {
  float: left;
  width: 30%;
  height: 20%;
  margin-right: 45px;
  margin-bottom: 50px;
  border-radius: 20px;
  border: 1px solid #2B4141;
  clear: both;
}

footer {
  width: 99%;
}

#copyright {
  float: left;
  width: 65%;
  margin-top: 25px;
  margin-left: 25px;
}

footer nav {
  padding: 0px;
  margin-top: -35px;
  margin-right: 45px;
  float: right;
  clear: both;
  background-color: transparent;
}

footer img {
  width: 50px;
  height: 50px;
}
