@font-face {
	font-family: Mathlete-Bulky;
	src: url(mathlete/Mathlete-Bulky.otf);
}
@font-face {
    font-family: Mathlete-BulkySlant;
    src: url(mathlete/Mathlete-BulkySlant.otf);
}
@font-face {
	font-family: Mathlete-Skinny;
	src: url(mathlete/Mathlete-Skinny.otf);
}
@font-face {
	font-family: Mathlete-SkinnySlant;
	src: url(mathlete/Mathlete-SkinnySlant.otf);
}
a, a:visited{
	color: skyblue;
	font-family: Mathlete-Skinny;
	font-size: 2em;
}

.bg{
  background-image:url('../images/colorspec.jpg');
  background-size: 100%;
}


.navigation {
		z-index: 30;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: papayawhip;
}

.nav {
    float: left;
}

.title {
    display: block;
    color: violet;
    text-align: right;
    padding: 14px 16px;
    font-family: Mathlete-SkinnySlant;
    font-size: 1em;
    text-decoration: none;
}

.nav {
    display: block;
    color: mediumorchid;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.nav:hover {
    background-color: mintcream;
}

.nav:active {
    background-color: pink;
    color: grey;
}

.homepage{
z-index: 5;
margin-left: 3%;
margin-bottom: 10px;
padding: 0 5px 1px 15px;
position: absolute;
display: block;
font-size: 14em;
text-align: center;
vertical-align: text-top;
text-transform: capitalize;
font-weight: 400;
font-family: Mathlete-BulkySlant;
}

.description{
  z-index: 0;
  margin-left: 40%;
  margin-right: 8%;
  padding: 10% 5% 10% 5%;
  position:relative;
  display:block;
  font-size: 3.5rem;
  text-align: center;
  font-family: Mathlete-SkinnySlant;
  color: dodgerblue;
  align-content: center;
  border-color: #84e1e8;
  border-style: solid;
  border-width: thick;

}
.verb{
  z-index: 3;
  position: relative;
  font-family: mathlete-Skinny;
  font-size: 2em;
  color: papayawhip;
  text-align: left;
  z-index: 20;
  padding: 20px 120px 40px 30px;
  margin: 10px 0px 20px 11px;
justify-content: center;
-webkit-clip-path: polygon(0% 20%, 60% 20%, 60% 0%, 100% 50%, 60% 100%, 60% 80%, 0% 80%);
clip-path: polygon(0% 20%, 60% 20%, 60% 0%, 100% 50%, 60% 100%, 60% 80%, 0% 80%);
background-color: background: rgba(179,141,226,1);
background: -moz-linear-gradient(left, rgba(179,141,226,1) 0%, rgba(158,112,215,1) 41%, rgba(109,54,236,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(179,141,226,1)), color-stop(41%, rgba(158,112,215,1)), color-stop(100%, rgba(109,54,236,1)));
background: -webkit-linear-gradient(left, rgba(179,141,226,1) 0%, rgba(158,112,215,1) 41%, rgba(109,54,236,1) 100%);
background: -o-linear-gradient(left, rgba(179,141,226,1) 0%, rgba(158,112,215,1) 41%, rgba(109,54,236,1) 100%);
background: -ms-linear-gradient(left, rgba(179,141,226,1) 0%, rgba(158,112,215,1) 41%, rgba(109,54,236,1) 100%);
background: linear-gradient(to right, rgba(179,141,226,1) 0%, rgba(158,112,215,1) 41%, rgba(109,54,236,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b38de2', endColorstr='#6d36ec', GradientType=1 );
}

.verbish{
  width: 400px;
  position: absolute;
  font-size: 3rem;
  display: block;
  vertical-align: middle;
	justify-content: center;
	align-items: right;
  text-align: center;
  background-color: deepskyblue;
  color: #ffe2f9;
  -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 75% 75%, 75% 100%, 50% 75%, 0% 75%);
  clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 75% 75%, 75% 100%, 50% 75%, 0% 75%);
  z-index: 0;
  font-family: Mathlete-SkinnySlant;
  font-style: oblique;
  text-transform: capitalize;
  padding: 4.25px 4px 50px 4px;
  margin: 20px 20px 17px 200px;
  }


/* Center the demo */
html, body { height: 100%; }


.opening-ceremony{
  z-index: 1;
  padding: 60px 20px 80px 20px;
  margin: 40px 40px 20px 40px;
  position: relative;
  font-size: 2.75rem;
  text-align: justify;
  border-color: #84e1e8;
  border-style: solid;
  border-width: thick;
  font-family: Mathlete-BulkySlant;
}

footer{
background-color: rgb(132, 225, 232);
color:rgb(240, 255, 240);
display:block;
font-family:Mathlete-SkinnySlant;
font-size:24px;
font-style:normal;
font-weight:200;
height:30px;
list-style-type:none;
position:relative;
text-align: center;
width:100%;
}
