
html {
  font-family: Lucida Grande;
}
header, footer{
  color: #F2F2F2;
  text-align: center;
  border-bottom: 2px #FE654F solid;
  background-color: #0B3954;
  border-radius: 5px;
}

header {
  /*float: clear;*/
  width: 100%;
}

nav {
  /*display: inline-block;*/
  float: right;
  width: 100%;
}

nav ul li{
  padding: 2px 5px 2px 0px;
  list-style-type: none;
  display: inline-block;
}

nav a.nav_link {
  color: white;
}

a {
  color: #FE654F;
  text-decoration:none;
}

nav a:hover {
  background-color: rgb(156, 156, 156);
}

a:visited {
  color: #FF6663;
}

/*nav bar code with help from W3 schools, creates dropdown subnav for blog posts*/
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}

li a, .dropdown {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border-radius: 5%;
    /*min-width: 100%;*/

}


li.subnav {
    display: inline-block;
}

.subnav-links {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    max-width: 15%;
    border-radius: 5%;
    /*box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);*/
}

.subnav-links a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.subnav-links a:hover {background-color: #f1f1f1}

.subnav:hover .subnav-links {
    display: block;
}

header.social-media {
  display: block;
  float: right;
}

.social-media img {
  background-color: white;
  width: 30px;
  height: 30px;
  margin-right: 10px;
  margin-bottom: 10px;
}

.footer-social-media img{
  background-color: white;
  display:inline-block;
  width: 30px;
  height: 30px;
}

.social-media img.curve-image {
  border-radius: 50%;
}

.footer-social-media img.curve-image {
  border-radius: 50%;
}

h3, h2 {
  text-align: center;
}

main{
  clear: both;
  display: inline-block;
  border-radius: 5px;
  background-color: #BFD7EA;
  width: 100%;
  margin-top: 15px;
}


main article {
  /*padding: 5px 15px 15px 15px;*/
  padding: 0 5%;
}

article img {
  float: left;
  width: 30%;
  height: 30%;
  padding:10px 30px;
}

article p {
  display: block;
}

#move_list_over {
  display: inline-block;
  padding-left: 15px;
}
footer {
  display: block;
  clear: both;
  margin: 20px 0px 20px 0px;
  border: 2px solid #FE654F;
}
