nav.navigation-pane {
  position: relative;
  float: left;
  width: 9em;
}

nav.navigation-element {
  position: absolute;
  display: block;
}

header {
  display: inline-block;
  background-color: black;
  color: white;
  width: 89%;
  position: absolute;
}

h1 {
  text-align: center;
}

main {
  position:relative;
}
